@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-400;
  }

  .backdrop-blur-glass {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}